

.jumbotron{
    background-color:rgb(167, 107, 235);
    color: rgb(255, 255, 255);
    margin: 0px;
    padding: 0px;
}
.row-header{
    margin: 0;
    padding: 50px 0px 50px 0px;
}
.row-content{
    margin: 0px;
    border-bottom: 1px ridge;
    min-height: 300px;
    padding: 40px 20px 40px 20px;
}
        
.footer{
    background-color: rgb(217, 188, 221);
    margin: 0px;
    padding: 20px 0px 20px 0px;
}
.div-content{
    margin: 15px;
}
body{
    padding: 20px 0px 0px 0px;
    z-index: 0;
}

.navbar-dark{
    background-color: #512da8;
}
.nav-link {
    padding: 0px;
}
.btn-group{
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
} 
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.nav-item{
    margin: 0px 5px;
}
.carousel{
    background: #542DA8;
}
.carousel-item{
    height: 300px;
}
.carousel-item img{
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}
#carouselButton{

    z-index: 1;
    right: 0px;
    position: absolute;
    bottom: 0px;
}